@import "tailwindcss";


body {
    margin: 0;
    padding: 0;
  }
  
  
  .gradient-background {
    background: linear-gradient(rgb(234, 243, 254) 0%, rgb(255, 255, 255) 100%);
    background-size: 100% 800px; 
    background-repeat: no-repeat;
  }
  
 
  .gradient-background.not-home {
    background-size: 100% 80px;
  }